@model PaymentUserModel
<link rel="stylesheet" href="~/css/card.css" asp-append-version="true" />

<form method="post" asp-controller="Payment" asp-action="SubmitForm">

    <div class="container p-0">
        
        <div class="card px-4">
            <p class="h8 py-3">Payment Details</p>
            <div class="row gx-3">
               
                <div class="col-12">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">Person Name</p>
                        <input class="form-control mb-3" type="text" asp-for="User" placeholder="Name">
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">Card Number</p>
                        <input class="form-control mb-3" asp-for="Card" type="text">
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">Expiry</p>
                        <input class="form-control mb-3" type="text" asp-for="Expiry" placeholder="MM/YYYY">
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">CVV/CVC</p>
                        <input class="form-control mb-3 pt-2 " asp-for="CVC" type="password" placeholder="***">
                    </div>
                </div>
               
                @* <button class="col-12" type="submit" value="APPROVE">
                    <div class="btn btn-primary mb-3">
                        <span class="ps-3">Pay 100BGN</span>
                        <span class="fas fa-arrow-right"></span>
                    </div>
                </button> *@
                <input type="submit" name="Submit" value="Approve"></br>
            </div>
        </div>
    </div>

</form>

@* <form method="post" asp-controller="Payment" asp-action="VerifyPayment">

    <div class="container p-0">
        <div class="card px-4">
            <p class="h8 py-3">Payment Details</p>
            <div class="row gx-3">
                <div class="col-12">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">Person Name</p>
                        <input class="form-control mb-3" type="text" name="Name" placeholder="Name">
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">Card Number</p>
                        <input class="form-control mb-3" name="CardNumber" type="text">
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">Expiry</p>
                        <input class="form-control mb-3" type="text" name="Expiry" placeholder="MM/YYYY">
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">CVV/CVC</p>
                        <input class="form-control mb-3 pt-2 " name="CVC" type="password" placeholder="***">
                    </div>
                </div>

                <button class="col-12" type="submit">
                    <div class="btn btn-primary mb-3">
                        <span class="ps-3">Pay 100BGN</span>
                        <span class="fas fa-arrow-right"></span>
                    </div>
                </button>
            </div>
        </div>
    </div>

</form> *@